<form action="/addCode" method="POST" class="my-4 form-inline">
    <label for="fullUrl" class="sr-only">Url</label>
    <input
        required
        placeholder="Enter a full URL"
        type="url"
        name="fullUrl"
        id="fullUrl"
        class="form-control col mr-2"
    />
    <button class="btn btn-primary" type="submit">Shortify</button>
</form>