<form action="/addCode" method="POST">
    <label for="fullUrl">Url</label>
    <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" />

    <button type="submit">Shortify</button>
</form>