<form action="/unlock" method="POST">
    <label for="password">Unlock statistics:</label>
    <input required type="password" name="password" id="password" />
    <button type="submit" class="btn btn-secondary">unlock</button>
</form>