<div class="container">
    {{>form}}
{{#if code}}
    <div class="container">
    {{>yourCode}}
    </div>  
{{/if}}
</div>

<div style="margin-top:50px">
    {{#if list}}
        <div class="mx-auto" style="width: 800px;">
        {{>previousUrls}}
        </div> 
    {{else}}
        <div class="mx-auto" style="width: 400px;">
        {{>unlock}}
        </div>
    {{/if}}
</div>
